<div class="ac-nav">
    <div class="ac-nav-container">
        <div class="ac-nav-brand">
            <a class="ac-logo" href="https://community.algolia.com/" title="Algolia Community">
                <img alt="Algolia Community" class="ac-logo__lg" src="https://res.cloudinary.com/hilnmyskv/image/upload/logo-community-inline-dark.svg" width="150">
                <img alt="Algolia Community" class="ac-logo__sm" src="https://res.cloudinary.com/hilnmyskv/image/upload/v1461180081/logo-community-sm.svg">
            </a>
            <span class="ac-nav-brand-breadcrumb"></span>
            <a class="ac-nav-brand-title" href="{{rootPath}}index.html" title="Home">InstantSearch Core for Swift</a>
            <span class="ac-nav-brand-breadcrumb"></span>
            <a class="ac-nav-brand-title" href="#" title="{{title}}">{{title}}</a>
        </div>
        <div class="ac-nav-menu">
            <ul class="ac-nav-menu-list">
                <li class="ac-nav-menu-list-item">
                    <a href="{{rootPath}}guide/index.html" title="Guide">Guide</a>
                </li>
                <li class="ac-nav-menu-list-item">
                    <a href="{{rootPath}}reference/index.html" title="Reference">Reference</a>
                </li>
                <li class="ac-nav-menu-list-item active">
                    <a href="{{rootPath}}examples/index.html" title="Examples">Examples</a>
                </li>
                <li class="ac-nav-menu-list-icon">
                    <a class="ac-icon" href="{{github_url}}" title="GitHub repository">
                        <span class="ac-icon ac-icon-github"></span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
