<nav class="sidebar">
    <ul>
        <li {{currentPage "/guide/index.html"}}><a href="{{rootPath}}guide/index.html">Overview</a></li>
        <li {{currentPage "/guide/quick-start.html"}}><a href="{{rootPath}}guide/quick-start.html">Quick Start</a></li>
        <li {{currentPage "/guide/search.html"}}><a href="{{rootPath}}guide/search.html">Search</a></li>
        <li {{currentPage "/guide/highlighting.html"}}><a href="{{rootPath}}guide/highlighting.html">Highlighting</a></li>
        <li {{currentPage "/guide/strategy.html"}}><a href="{{rootPath}}guide/strategy.html">Request strategy</a></li>
        <li {{currentPage "/guide/miscellaneous.html"}}><a href="{{rootPath}}guide/miscellaneous.html">Miscellaneous</a></li>
    </ul>
</nav>
<nav class="sidebar-toggle" onclick="sidebarToggle()">&#x2630;</nav>
