<!-- Twitter card -->
<meta content="summary_large_image" name="twitter:card">
<meta content="@Algolia" name="twitter:site">
<meta content="@Algolia" name="twitter:creator">
<meta content="InstantSearch Core for Swift" name="twitter:title">
<meta content="InstantSearch Core for Swift is the toolbox to create advanced search experiences" name="twitter:description">
<meta content="Algolia Product image" name="twitter:image">
