<!-- / OpenGraph -->
<meta content="https://community.algolia.com/instantsearch-core-swift/" property="og:url">
<meta content="InstantSearch Core for Swift" property="og:title">
<meta content="#" property="og:image">
<meta content="article" property="og:type">
<meta content="InstantSearch Core for Swift is the toolbox to create advanced search experiences" property="og:description">
<meta content="Algolia Community" property="og:site_name">
