<!-- / OpenGraph -->
<meta content="https://community.algolia.com/algoliasearch-helper-swift/" property="og:url">
<meta content="Algolia Search Helper for Swift" property="og:title">
<meta content="#" property="og:image">
<meta content="article" property="og:type">
<meta content="The Algolia Search Helper for Swift is the toolbox to create advanced search experiences" property="og:description">
<meta content="Algolia Community" property="og:site_name">
