<script src="{{rootPath}}js/all.js"></script>
<script src="{{rootPath}}js/responsiveNavigation.js"></script>
<script src="{{rootPath}}js/jquery.min.js" defer></script>
<script src="{{rootPath}}/js/sidebar.js" defer></script>
