<!DOCTYPE html>

<html lang="en">
  <head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">

    <link href='#' rel='icon' type='image/x-icon'>
    <meta content='Algolia Search Helper for Swift is the toolbox to create advanced search experiences' name='description'>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport'>
    <!-- / Twitter card -->
    <meta content='summary_large_image' name='twitter:card'>
    <meta content='@Algolia' name='twitter:site'>
    <meta content='@Algolia' name='twitter:creator'>
    <meta content="Algolia Search Helper for Swift" name="twitter:title">
    <meta content="The Algolia Search Helper for Swift is the toolbox to create advanced search experiences" name="twitter:description">
    <meta content="Algolia Product image" name="twitter:image">
    <!-- / OG meta -->
    <meta content='https://community.algolia.com/algoliasearch-helper-swift/' property='og:url'>
    <meta content='Algolia Search Helper for Swift' property='og:title'>
    <meta content='#' property='og:image'>
    <meta content='article' property='og:type'>
    <meta content='The Algolia Search Helper for Swift is the toolbox to create advanced search experiences' property='og:description'>
    <meta content='Algolia Community' property='og:site_name'>

    <!-- JAZZY:BEGIN -->
    <title>{{name}} {{kind}} Reference</title>
    <script src="{{path_to_root}}js/jquery.min.js" defer></script>
    <script src="{{path_to_root}}js/jazzy.js" defer></script>
    <!-- JAZZY:END -->

    <link href='https://fonts.googleapis.com/css?family=Raleway:400,500,600' rel='stylesheet' type='text/css'>
    <link href="{{path_to_root}}css/site.css" rel="stylesheet" />

  </head>

  <body class="index">

    {{> header}}

    <div class="container">
        <!-- JAZZY:BEGIN -->
<!--            <div class="content-wrapper"> -->
              {{>nav}}
              <article class="main-content">
                <section>
                  <section class="section">
                    {{^hide_name}}<h1>{{name}}</h1>{{/hide_name}}
                    {{#declaration}}
                      <div class="declaration">
                        <div class="language">
                          {{{declaration}}}
                        </div>
                      </div>
                    {{/declaration}}
                    {{{overview}}}
                  </section>
                  {{> tasks}}
                </section>
              </article>
<!--        </div> -->
        <!-- JAZZY:END -->
    </div>

    {{> footer}}

  </body>
  <script src="javascripts/all.js"></script>
  <script src="javascripts/responsiveNavigation.js"></script>
</html>
