<script src="{{path_to_root}}../js/all.js"></script>
<script src="{{path_to_root}}../js/responsiveNavigation.js" ></script>
<script src="{{path_to_root}}../js/jquery.min.js" defer></script>
<script src="{{path_to_root}}../js/jazzy.js" defer></script>
<script src="{{path_to_root}}../js/sidebar.js" defer></script>
