@charset "UTF-8";

// ======================================================================
// Copied from: AlgoliaWeb `_base.sass`
// ======================================================================

//fonts
$light: 300;
$regular: 400;
$bold: 600;

//colors
$white: white;
$black: black;

$al-black: #262626;

$plan-trial-color: #46AEDA;
$plan-starter-color: #00B398;
$plan-growth-color: #46AEDA;
$plan-pro-color: #FA3870;
$plan-enterprise-color: #353C50;

$record-color: #C93B92;
$operation-color: #01B3E5;
$response-time-color: #13C4A5;
$searchlytics-color: #FF7113;
$index-color: orange;
$query-color: yellow;
$highlight-color: #f6624e;

$ruby-color: #A62C46;
$rails-color: #D1415F;
$python-color: #3770A0;
$django-color: #326544;
$node-color: #83CD29;
$php-color: #6C7EB7;
$symfony-color: #000000;
$javascript-color: #FFD141;
$objc-color: #616161;
$swift-color: #FF681E;
$java-color: #3694D6;
$android-color: #A4C145;
$csharp-color: #864F92;
$curl-color: #9A407B;
$shell-color: #669F71;
$go-color: #3770A0;
$scala-color: #c01b03;

$parse-color: #4E8DE8;
$firebase-color: #42A5EE;

$github-color: #555555;
$google-color: #DE4734;

$cabaret: #E7486B;
$rouge: #9C4274;
$sea-green: #13C4A5;
$blue-green: #10A4B8;
$violet: #8A63B3;
$chambray: #3B5295;
$sunset-orange: #F6624E;
$saffron-mango: #FDBD57;
$red-pink: #fb366e;
$plum: #65133a;
$light-navy: #184a80;

$primary-color: #1F3B5D /* Regal Blue */;
$secondary-color: #F3F4F7 /* anti flash white */;
$tertiary-color: #8191B1 /* Slate gray */;

$fa-css-prefix: icon;

//BootStrap
$gray-darker: lighten(#000, 13.5%) /* #222 */;
$gray-dark: lighten(#000, 20%) /* #333 */;
$gray: lighten(#000, 33.5%) /* #555 */;
$gray-light: lighten(#000, 46.7%) /* #777 */;
$gray-lighter: lighten(#000, 93.5%) /* #eee */;

$brand-primary: #46AEDA;
$brand-secondary: #FA3870;
$brand-success: #32B28C /* Fern green */;
$brand-info: #5bc0de /* Malibu blue */;
$brand-warning: #f0ad4e /* Casablanca yellow */;
$brand-danger: #ff5f5f /* Carnation red */;

$body-bg: $secondary-color /* White smoke */;
$text-color: rgba(0,0,0,0.75);

$text-muted: lighten($tertiary-color,15%);

$border-radius-base: 3px;
$border-radius-large: 3px;
$border-radius-small: 3px;

$link-color: $brand-primary;
$link-hover-color: darken($link-color, 15%);

//fonts
$font-family-sans-serif: Open Sans;

$headings-font-family: Raleway;
$headings-font-weight: $light;
$headings-small-color: darken($tertiary-color,10%);

//== Buttons
$btn-font-weight: normal;
//default
$btn-default-color: #777;
$btn-default-bg: $white;
$btn-default-border: #ccc;
//primary
$btn-primary-color: $white;
$btn-primary-bg: $brand-primary;
$btn-primary-border: darken($btn-primary-bg, 5%);
//success
$btn-success-color: $white;
$btn-success-bg: $brand-success;
$btn-success-border: darken($btn-success-bg, 5%);
//info
$btn-info-color: $white;
$btn-info-bg: $brand-info;
$btn-info-border: darken($btn-info-bg, 5%);
//warning
$btn-warning-color: $white;
$btn-warning-bg: $brand-warning;
$btn-warning-border: darken($btn-warning-bg, 5%);
//danger
$btn-danger-color: $white;
$btn-danger-bg: $brand-danger;
$btn-danger-border: darken($btn-danger-bg, 5%);
//link
$btn-link-disabled-color: $gray-light;
$input-bg-disabled: $gray-lighter;

//== Panels
$panel-bg: $white;
//** Border color for elements within panels
$panel-inner-border: lighten($tertiary-color,20%);
$panel-footer-bg: lighten($secondary-color, 10%);

$panel-default-text: $gray-dark;
$panel-default-border: $white;
$panel-default-heading-bg: $white;

//forms
$input-group-addon-bg: lighten($secondary-color,3%);
$input-border: lighten($gray,30%);

//tables
$table-border-color: $secondary-color;
$table-bg-accent: lighten($secondary-color,5%);

//tooltip
$tooltip-bg: $primary-color;
$tooltip-opacity: 1;

//popover
$popover-max-width: 300px;

//code
$pre-bg: #192F4A;
$pre-color: #C2CCCC;


// ======================================================================
// Copied from: Community Boilerplate `site.css`
// ======================================================================

/*! normalize.css v4.1.1 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Prevent adjustments of font size after orientation changes in IE and iOS.
 */
/* line 8, vendors/_normalize.scss */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove the margin in all browsers (opinionated).
 */
/* line 18, vendors/_normalize.scss */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 * 2. Add the correct display in IE.
 */
/* line 31, vendors/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  /* 1 */
  display: block; }

/**
 * Add the correct display in IE 9-.
 */
/* line 50, vendors/_normalize.scss */
audio,
canvas,
progress,
video {
  display: inline-block; }

/**
 * Add the correct display in iOS 4-7.
 */
/* line 61, vendors/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
/* line 70, vendors/_normalize.scss */
progress {
  vertical-align: baseline; }

/**
 * Add the correct display in IE 10-.
 * 1. Add the correct display in IE.
 */
/* line 79, vendors/_normalize.scss */
template,
[hidden] {
  display: none; }

/* Links
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
/* line 92, vendors/_normalize.scss */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */
/* line 102, vendors/_normalize.scss */
a:active,
a:hover {
  outline-width: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
/* line 115, vendors/_normalize.scss */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
/* line 125, vendors/_normalize.scss */
b,
strong {
  font-weight: inherit; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
/* line 134, vendors/_normalize.scss */
b,
strong {
  font-weight: bolder; }

/**
 * Add the correct font style in Android 4.3-.
 */
/* line 143, vendors/_normalize.scss */
dfn {
  font-style: italic; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
/* line 152, vendors/_normalize.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Add the correct background and color in IE 9-.
 */
/* line 161, vendors/_normalize.scss */
mark {
  background-color: #ff0;
  color: #000; }

/**
 * Add the correct font size in all browsers.
 */
/* line 170, vendors/_normalize.scss */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
/* line 179, vendors/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

/* line 187, vendors/_normalize.scss */
sub {
  bottom: -0.25em; }

/* line 191, vendors/_normalize.scss */
sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10-.
 */
/* line 202, vendors/_normalize.scss */
img {
  border-style: none; }

/**
 * Hide the overflow in IE.
 */
/* line 210, vendors/_normalize.scss */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
/* line 222, vendors/_normalize.scss */
code,
kbd,
pre,
samp {
  font-family: "Menlo", monospace;
  /* 1 */
  font-size: 0.9em;
  /* 2 */ }

/**
 * Add the correct margin in IE 8.
 */
/* line 234, vendors/_normalize.scss */
figure {
  margin: 1em 40px; }

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
/* line 243, vendors/_normalize.scss */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/* Forms
   ========================================================================== */
/**
 * 1. Change font properties to `inherit` in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
/* line 257, vendors/_normalize.scss */
button,
input,
select,
textarea {
  font: inherit;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Restore the font weight unset by the previous rule.
 */
/* line 269, vendors/_normalize.scss */
optgroup {
  font-weight: bold; }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
/* line 278, vendors/_normalize.scss */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
/* line 288, vendors/_normalize.scss */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
/* line 299, vendors/_normalize.scss */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

/**
 * Remove the inner border and padding in Firefox.
 */
/* line 310, vendors/_normalize.scss */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
/* line 322, vendors/_normalize.scss */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */
/* line 333, vendors/_normalize.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
/* line 346, vendors/_normalize.scss */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * Remove the default vertical scrollbar in IE.
 */
/* line 359, vendors/_normalize.scss */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
/* line 368, vendors/_normalize.scss */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
/* line 378, vendors/_normalize.scss */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
/* line 388, vendors/_normalize.scss */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on OS X.
 */
/* line 397, vendors/_normalize.scss */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Correct the text style of placeholders in Chrome, Edge, and Safari.
 */
/* line 406, vendors/_normalize.scss */
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
/* line 416, vendors/_normalize.scss */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* line 40, vendors/docsearch/_searchbox.scss */
.searchbox {
  display: inline-block;
  position: relative;
  height: 36px !important;
  white-space: nowrap;
  box-sizing: border-box;
  visibility: visible !important;
  vertical-align: middle; }
  /* line 49, vendors/docsearch/_searchbox.scss */
  .searchbox__wrapper {
    width: 100%;
    height: 100%; }
  /* line 54, vendors/docsearch/_searchbox.scss */
  .searchbox__input {
    display: inline-block;
    transition: box-shadow .4s ease, background .4s ease;
    border: 0;
    border-radius: 18px;
    box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.5);
    background: #000;
    padding: 0;
    width: 36px;
    height: 100%;
    vertical-align: middle;
    white-space: normal;
    font-size: 12px;
    appearance: none;
    color: transparent; }
    /* line 70, vendors/docsearch/_searchbox.scss */
    .searchbox__input::-webkit-input-placeholder {
      color: transparent; }
    /* line 74, vendors/docsearch/_searchbox.scss */
    .searchbox__input::placeholder {
      color: transparent; }
    /* line 78, vendors/docsearch/_searchbox.scss */
    .searchbox__input::-webkit-search-decoration, .searchbox__input::-webkit-search-cancel-button, .searchbox__input::-webkit-search-results-button, .searchbox__input::-webkit-search-results-decoration {
      display: none; }
    /* line 85, vendors/docsearch/_searchbox.scss */
    .searchbox__input:hover {
      box-shadow: inset 0 0 0 2px rgba(230, 230, 230, 0.5); }
    /* line 89, vendors/docsearch/_searchbox.scss */
    .searchbox__input:focus, .searchbox__input:active, .searchbox__input.filled {
      padding-right: 30px;
      padding-left: 36px;
      width: 100%;
      outline: 0;
      box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.8);
      background: #fff;
      color: white; }
      /* line 102, vendors/docsearch/_searchbox.scss */
      .searchbox__input:focus::-webkit-input-placeholder, .searchbox__input:active::-webkit-input-placeholder, .searchbox__input.filled::-webkit-input-placeholder {
        color: #777; }
      /* line 105, vendors/docsearch/_searchbox.scss */
      .searchbox__input:focus::placeholder, .searchbox__input:active::placeholder, .searchbox__input.filled::placeholder {
        color: #777; }
  /* line 111, vendors/docsearch/_searchbox.scss */
  .searchbox__submit {
    position: absolute;
    top: 0;
    margin: 0;
    border: 0;
    border-radius: 18px 0 0 18px;
    background-color: rgba(255, 255, 255, 0);
    padding: 0;
    width: 36px;
    line-height: 36px;
    height: 100%;
    vertical-align: middle;
    text-align: center;
    font-size: inherit;
    user-select: none;
    pointer-events: none;
    right: inherit;
    left: 0; }
    /* line 136, vendors/docsearch/_searchbox.scss */
    .searchbox__submit::before {
      display: inline-block;
      margin-right: -4px;
      height: 100%;
      vertical-align: middle;
      content: ''; }
    /* line 144, vendors/docsearch/_searchbox.scss */
    .searchbox__submit:hover, .searchbox__submit:active {
      cursor: pointer; }
    /* line 149, vendors/docsearch/_searchbox.scss */
    .searchbox__submit:focus {
      outline: 0; }
    /* line 153, vendors/docsearch/_searchbox.scss */
    .searchbox__submit svg {
      width: 18px;
      height: 18px;
      vertical-align: middle;
      fill: #fff; }
  /* line 161, vendors/docsearch/_searchbox.scss */
  .searchbox__reset {
    display: block;
    position: absolute;
    top: 8px;
    right: 8px;
    margin: 0;
    border: 0;
    background: none;
    cursor: pointer;
    padding: 0;
    font-size: inherit;
    user-select: none;
    fill: rgba(255, 255, 255, 0.5); }
    /* line 177, vendors/docsearch/_searchbox.scss */
    .searchbox__reset.hide {
      display: none; }
    /* line 181, vendors/docsearch/_searchbox.scss */
    .searchbox__reset:focus {
      outline: 0; }
    /* line 185, vendors/docsearch/_searchbox.scss */
    .searchbox__reset svg {
      display: block;
      margin: 4px;
      width: 12px;
      height: 12px; }
  /* line 193, vendors/docsearch/_searchbox.scss */
  .searchbox__input:valid ~ .searchbox__reset {
    display: block;
    animation-name: sbx-reset-in;
    animation-duration: .15s; }
@keyframes sbx-reset-in {
  0% {
    transform: translate3d(-20%, 0, 0);
    opacity: 0; }
  100% {
    transform: none;
    opacity: 1; } }
/* line 122, vendors/docsearch/_dropdown.scss */
.algolia-autocomplete {
  display: block;
  height: 100%; }

/* line 128, vendors/docsearch/_dropdown.scss */
.algolia-docsearch-footer {
  width: 100px;
  height: 20px;
  z-index: 2000;
  margin-top: 6px;
  float: right;
  font-size: 0;
  line-height: 0; }
  /* line 136, vendors/docsearch/_dropdown.scss */
  .algolia-docsearch-footer--logo {
    background-image: url('data:image/svg+xml;utf8,<svg width="86" height="13" viewBox="0 0 86 13" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><path d="M5.01 8.1c0 .63-.228 1.12-.684 1.47-.456.352-1.074.528-1.855.528-.84 0-1.49-.11-1.95-.327v-.8c.3.13.61.22.96.3.35.07.69.11 1.03.11.56 0 .97-.1 1.25-.31s.42-.5.42-.87c0-.25-.05-.45-.15-.61-.09-.15-.26-.3-.49-.43-.24-.14-.59-.29-1.07-.46-.66-.23-1.13-.52-1.42-.84C.76 5.52.61 5.1.61 4.57c0-.55.21-.985.62-1.31.42-.325.96-.488 1.64-.488.71 0 1.37.13 1.96.39l-.26.72c-.59-.25-1.16-.37-1.71-.37-.44 0-.78.09-1.03.28-.25.19-.37.45-.37.78 0 .24.05.45.14.6.09.16.246.3.46.43.22.13.55.277.996.437.75.26 1.264.55 1.545.86.29.3.43.7.43 1.19zm3.598 2c-.79 0-1.415-.24-1.872-.723-.458-.482-.686-1.15-.686-2.007 0-.862.212-1.548.637-2.056.425-.507.995-.76 1.71-.76.672 0 1.203.22 1.593.66.39.44.586 1.023.586 1.746v.513H6.89c.016.63.175 1.106.476 1.43.3.327.725.49 1.272.49.576 0 1.146-.12 1.71-.362v.73c-.288.13-.56.22-.814.27-.256.06-.564.08-.926.08zm-.22-4.87c-.43 0-.772.14-1.027.42-.25.28-.4.67-.45 1.164h2.8c0-.512-.11-.903-.34-1.175-.23-.28-.55-.41-.97-.41zM15.25 10l-.16-.762h-.04c-.266.336-.532.563-.798.68-.265.12-.596.18-.993.18-.53 0-.95-.137-1.25-.41-.3-.274-.45-.663-.45-1.167 0-1.08.86-1.64 2.59-1.7l.91-.02v-.34c0-.42-.09-.73-.27-.93-.18-.2-.47-.3-.87-.3-.45 0-.95.14-1.52.41l-.25-.62c.26-.14.55-.25.86-.33.31-.08.63-.12.94-.12.63 0 1.11.15 1.41.43.3.29.46.74.46 1.37V10h-.6zm-1.83-.57c.505 0 .9-.14 1.19-.416.287-.277.43-.664.43-1.162v-.484l-.81.034c-.644.023-1.11.123-1.394.3-.284.178-.427.454-.427.828 0 .293.09.516.26.67.18.152.42.23.74.23zm6.543-4.88c.24 0 .452.02.64.06l-.112.75c-.22-.048-.41-.072-.58-.072-.43 0-.8.176-1.11.527-.31.352-.46.79-.46 1.314V10h-.81V4.648h.67l.1.992h.04c.2-.35.44-.617.72-.806.28-.19.59-.283.93-.283zm3.58 5.548c-.775 0-1.374-.24-1.8-.716-.424-.477-.636-1.15-.636-2.024 0-.895.215-1.587.646-2.075.432-.488 1.046-.732 1.844-.732.257 0 .514.03.77.09.258.06.46.12.607.2l-.248.69c-.18-.07-.375-.13-.586-.18-.212-.04-.4-.07-.562-.07-1.087 0-1.63.7-1.63 2.08 0 .66.132 1.16.397 1.52.267.35.66.53 1.18.53.446 0 .904-.09 1.373-.28v.72c-.358.19-.81.28-1.353.28zm6.28-.098V6.538c0-.436-.1-.762-.297-.976-.198-.215-.51-.323-.932-.323-.563 0-.974.15-1.233.45-.25.3-.38.81-.38 1.5V10h-.81V2.402h.81v2.3c0 .277-.01.506-.04.69h.05c.16-.26.39-.46.68-.61.3-.147.63-.22 1.01-.22.66 0 1.15.154 1.47.465.33.31.49.805.49 1.482V10h-.81zm7.565-5.44c.703 0 1.25.24 1.638.72.39.48.583 1.16.583 2.04 0 .878-.2 1.56-.59 2.048-.39.486-.94.73-1.64.73-.35 0-.67-.065-.96-.193-.29-.13-.53-.327-.73-.593h-.06l-.17.688h-.58V2.402h.81v1.846c0 .413-.02.785-.04 1.113h.04c.38-.53.94-.8 1.68-.8zm-.117.68c-.55 0-.95.158-1.19.475-.24.318-.36.852-.36 1.604 0 .75.13 1.29.38 1.61.25.32.66.48 1.21.48.5 0 .87-.19 1.12-.55.25-.37.37-.89.37-1.57 0-.7-.12-1.22-.36-1.56-.24-.35-.62-.52-1.13-.52zm2.71-.592h.87L42.02 7.7c.257.697.416 1.2.48 1.51h.037c.042-.167.13-.45.266-.853.136-.402.578-1.638 1.327-3.71H45l-2.3 6.095c-.23.602-.496 1.03-.8 1.282-.304.252-.678.378-1.12.378-.248 0-.49-.027-.733-.083v-.65c.18.04.38.06.6.06.557 0 .954-.32 1.192-.94l.29-.76-2.16-5.39z" fill="%23797979"/><path d="M70.883 4.8l-.553 2.06 1.782-1.025c-.26-.5-.7-.876-1.23-1.034zM67.76 3.41c-.237-.25-.624-.25-.862 0l-.108.114c-.238.252-.238.66 0 .91l.115.122c.244-.414.556-.78.918-1.08l-.062-.066zm3.73-.63c0-.014.003-.027.003-.042v-.322c0-.355-.273-.644-.61-.644h-1.068c-.337 0-.61.288-.61.644v.317c.34-.1.698-.156 1.068-.156.424 0 .833.072 1.216.203" fill="%2346AEDA"/><path d="M70.316 4.243c1.34 0 2.428 1.145 2.428 2.552 0 1.408-1.09 2.553-2.428 2.553-1.34 0-2.428-1.145-2.428-2.553 0-1.407 1.09-2.552 2.428-2.552m-3.4 2.552c0 1.974 1.522 3.574 3.4 3.574s3.4-1.6 3.4-3.58-1.522-3.58-3.4-3.58-3.4 1.6-3.4 3.57z" fill="%2346AEDA"/><path d="M54.758 10.175c-.14-.39-.27-.776-.395-1.155-.124-.378-.25-.763-.383-1.154H50.1l-.78 2.31h-1.247c.33-.958.64-1.843.927-2.656.288-.813.57-1.585.847-2.316.275-.73.55-1.43.82-2.094.273-.666.557-1.324.854-1.977h1.1c.3.653.58 1.31.86 1.977.27.665.55 1.363.82 2.094.28.73.56 1.503.85 2.316.29.813.6 1.698.93 2.655h-1.31zm-1.124-3.353c-.264-.757-.525-1.49-.785-2.2-.26-.708-.53-1.388-.81-2.04-.29.652-.57 1.332-.83 2.04-.26.71-.52 1.443-.77 2.2h3.19zm5.45 3.483c-.71-.017-1.21-.178-1.508-.482-.297-.305-.445-.78-.445-1.423V.26l1.15-.21v8.155c0 .2.02.365.05.496.04.13.09.24.16.32.08.08.18.14.3.18.13.04.28.08.46.1l-.16 1.02m5.47-.81c-.1.07-.29.16-.57.27-.28.11-.61.17-.99.17s-.75-.06-1.09-.19c-.34-.13-.64-.33-.89-.6-.26-.27-.46-.61-.61-1.02-.15-.4-.22-.89-.22-1.46 0-.49.07-.95.21-1.36.14-.41.35-.77.61-1.07.27-.3.6-.53.99-.7.39-.17.83-.25 1.31-.25.54 0 1.01.04 1.41.12.4.09.73.16 1.01.23V9.7c0 1.044-.25 1.8-.76 2.27s-1.29.705-2.33.705c-.4 0-.78-.035-1.14-.104-.36-.07-.67-.15-.93-.24l.21-1.06c.23.09.51.18.84.25.34.08.68.11 1.05.11.69 0 1.18-.14 1.48-.43.3-.28.45-.74.45-1.37v-.3zm-.47-5.13c-.19-.03-.45-.04-.78-.04-.61 0-1.09.22-1.42.64-.33.43-.5.99-.5 1.7 0 .39.05.73.14 1.01.1.28.23.51.39.69.16.18.35.32.56.41.21.09.43.13.65.13.31 0 .59-.04.84-.13.26-.09.46-.2.61-.32v-4c-.11-.03-.27-.06-.46-.09zm12.77 5.95c-.7-.02-1.21-.18-1.5-.48-.29-.3-.44-.78-.44-1.42V.26l1.15-.21v8.155c0 .2.02.365.05.496.04.13.09.24.16.32.08.08.18.14.3.18.13.04.28.08.46.1l-.16 1.02m2.01-8.14c-.2 0-.38-.07-.52-.21-.14-.14-.21-.34-.21-.58 0-.24.07-.44.22-.58.14-.14.32-.21.52-.21.21 0 .38.08.53.22.15.15.22.34.22.58 0 .25-.07.44-.21.58-.15.15-.32.22-.53.22zm-.57 1.23h1.15v6.79H78.3V3.4zm5.2-.17c.46 0 .85.07 1.17.19.32.13.57.31.77.54.2.23.33.5.42.82.08.32.12.67.12 1.05v4.24l-.41.07c-.17.03-.37.06-.6.09-.22.03-.46.05-.72.08-.26.02-.51.03-.77.03-.36 0-.69-.04-1-.12-.3-.08-.56-.2-.79-.37-.22-.17-.39-.39-.52-.67S81 8.57 81 8.18c0-.37.07-.692.22-.962s.34-.49.59-.653c.25-.164.53-.286.86-.364.33-.08.68-.12 1.04-.12.12 0 .24.01.36.02.13.02.24.03.35.05.12.03.21.04.3.06.083.02.14.03.174.04V5.9c0-.2-.02-.395-.07-.59-.04-.198-.114-.37-.22-.524-.107-.15-.253-.273-.44-.364-.183-.09-.424-.13-.72-.13-.38 0-.71.03-.996.09-.29.055-.5.114-.64.175l-.14-1.007c.147-.07.395-.133.74-.2.346-.064.72-.1 1.125-.1zm.1 6.08c.27 0 .52 0 .73-.02.21-.01.39-.03.53-.07V7.19c-.08-.044-.22-.08-.4-.11-.18-.03-.41-.047-.67-.047-.17 0-.36.02-.55.04-.19.03-.37.08-.53.17-.16.085-.29.198-.4.34-.11.145-.16.33-.16.57 0 .435.13.737.39.906.26.17.62.25 1.07.25z" fill="%231D3657"/></g></svg>');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    overflow: hidden;
    text-indent: -9000px;
    padding: 0 !important;
    width: 100%;
    height: 100%;
    display: block; }

/* line 152, vendors/docsearch/_dropdown.scss */
.aa-dropdown-menu {
  position: relative;
  top: -6px;
  border-radius: 4px;
  margin: 6px 0 0;
  padding: 0;
  text-align: left;
  height: auto;
  position: relative;
  background: transparent;
  border: none;
  max-width: 600px;
  min-width: 500px;
  right: 0 !important;
  left: inherit !important;
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.2), 0 2px 3px 0 rgba(0, 0, 0, 0.1); }
  /* line 168, vendors/docsearch/_dropdown.scss */
  .aa-dropdown-menu:before {
    position: absolute;
    content: '';
    width: 14px;
    height: 14px;
    background: #fff;
    z-index: 0;
    top: -7px;
    border-top: 1px solid #d9d9d9;
    border-right: 1px solid #d9d9d9;
    transform: rotate(-45deg);
    border-radius: 2px;
    z-index: 999;
    display: block;
    right: 48px; }
  /* line 190, vendors/docsearch/_dropdown.scss */
  .aa-dropdown-menu .aa-suggestions {
    position: relative;
    z-index: 1000; }
  /* line 195, vendors/docsearch/_dropdown.scss */
  .aa-dropdown-menu [class^="aa-dataset-"] {
    position: relative;
    border: solid 1px #d9d9d9;
    background: #fff;
    border-radius: 4px;
    overflow: auto;
    padding: 0 12px 6px; }
  /* line 205, vendors/docsearch/_dropdown.scss */
  .aa-dropdown-menu * {
    box-sizing: border-box; }

/* line 211, vendors/docsearch/_dropdown.scss */
.algolia-docsearch-suggestion {
  position: relative;
  padding: 0;
  background: #fff;
  color: #02060C;
  overflow: hidden; }
  /* line 218, vendors/docsearch/_dropdown.scss */
  .algolia-docsearch-suggestion--highlight {
    color: #2274d1;
    background-color: rgba(69, 142, 225, 0.08); }
    /* line 221, vendors/docsearch/_dropdown.scss */
    .algolia-docsearch-suggestion--category-header .algolia-docsearch-suggestion--highlight {
      color: inherit;
      background: inherit; }
  /* line 227, vendors/docsearch/_dropdown.scss */
  .algolia-docsearch-suggestion--content {
    display: block;
    float: right;
    width: 70%;
    position: relative;
    padding: 4px 0 4px 8px;
    cursor: pointer; }
    /* line 235, vendors/docsearch/_dropdown.scss */
    .aa-cursor .algolia-docsearch-suggestion--content {
      background: rgba(0, 0, 0, 0.03); }
    /* line 238, vendors/docsearch/_dropdown.scss */
    .algolia-docsearch-suggestion--content:before {
      content: '';
      position: absolute;
      display: block;
      top: 0;
      height: 100%;
      width: 1px;
      background: #ddd;
      left: -1px; }
  /* line 250, vendors/docsearch/_dropdown.scss */
  .algolia-docsearch-suggestion--category-header {
    position: relative;
    border-bottom: 1px solid #ddd;
    display: none;
    padding: 3px 0;
    font-size: 1em;
    color: #33363D; }
    /* line 258, vendors/docsearch/_dropdown.scss */
    .algolia-docsearch-suggestion__main .algolia-docsearch-suggestion--category-header {
      display: block;
      margin-top: 12px; }
  /* line 264, vendors/docsearch/_dropdown.scss */
  .algolia-docsearch-suggestion--wrapper {
    width: 100%;
    float: left;
    padding: 6px 0 0 0; }
  /* line 270, vendors/docsearch/_dropdown.scss */
  .algolia-docsearch-suggestion--subcategory-column {
    float: left;
    width: 30%;
    display: none;
    padding-left: 0;
    text-align: right;
    position: relative;
    padding: 4px 8px;
    color: #A4A7AE;
    font-size: 0.9em;
    word-wrap: break-word; }
    /* line 282, vendors/docsearch/_dropdown.scss */
    .algolia-docsearch-suggestion--subcategory-column:before {
      content: '';
      position: absolute;
      display: block;
      top: 0;
      height: 100%;
      width: 1px;
      background: #ddd;
      right: 0; }
    /* line 293, vendors/docsearch/_dropdown.scss */
    .algolia-docsearch-suggestion__secondary .algolia-docsearch-suggestion--subcategory-column {
      display: block !important; }
  /* line 298, vendors/docsearch/_dropdown.scss */
  .algolia-docsearch-suggestion--subcategory-inline {
    display: none; }
  /* line 302, vendors/docsearch/_dropdown.scss */
  .algolia-docsearch-suggestion--title {
    margin-bottom: 3px;
    color: #02060C;
    font-size: 0.9em;
    font-weight: bold; }
  /* line 309, vendors/docsearch/_dropdown.scss */
  .algolia-docsearch-suggestion--text {
    display: block;
    line-height: 1.2em;
    font-size: 0.85em;
    color: #63676D; }

$warning-header-height: 30px;
.warning-header {
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: $warning-header-height;
    background-color: $red-pink;
    color: white;
    text-align: center;
    line-height: $warning-header-height;
}

/* line 2, components/_header.scss */
$nav-height: 50px;
$header-height: $nav-height + $warning-header-height;
.ac-nav {
  position: fixed;
  top: $warning-header-height;
  left: 0;
  width: 100%;
  height: $nav-height;
  padding: 0 16px;
  margin: 0;
  line-height: 50px;
  z-index: 101;
  font-family: "Raleway", Helvetica Neue, helvetica;
  box-sizing: border-box;
  color: #fff;
  background: #0a1724;
  font-weight: 400; }
  /* line 19, components/_header.scss */
  .ac-nav a {
    color: #fff;
    text-decoration: none; }
  /* line 24, components/_header.scss */
  .ac-nav .ac-nav-container {
    width: 100%;
    height: 50px;
    margin: auto;
    line-height: 50px; }
    @media (min-width: 2000px) {
      /* line 24, components/_header.scss */
      .ac-nav .ac-nav-container {
        max-width: calc(940px + 260px); } }
    @media (max-width: 1440px) {
      /* line 24, components/_header.scss */
      .ac-nav .ac-nav-container {
        max-width: 100%; } }
  /* line 39, components/_header.scss */
  .ac-nav .ac-nav-brand,
  .ac-nav .ac-nav-menu {
    max-height: 50px; }
  /* line 44, components/_header.scss */
  .ac-nav .ac-nav-brand {
    float: left; }
  /* line 47, components/_header.scss */
  .ac-nav .ac-nav-menu {
    float: right; }
  /* line 51, components/_header.scss */
  .ac-nav .ac-logo {
    padding-left: 8px;
    font-size: 26px;
    font-weight: 100;
    vertical-align: sub; }
    /* line 57, components/_header.scss */
    .ac-nav .ac-logo .ac-logo__lg,
    .ac-nav .ac-logo .ac-logo__sm {
      position: relative;
      top: -2px;
      width: 200px;
      margin-right: 6px;
      vertical-align: middle; }
      /* line 65, components/_header.scss */
      .ac-nav .ac-logo .ac-logo__lg.ac-logo__sm,
      .ac-nav .ac-logo .ac-logo__sm.ac-logo__sm {
        width: 34px;
        display: none;
        visibility: hidden; }
        @media (max-width: 960px) {
          /* line 65, components/_header.scss */
          .ac-nav .ac-logo .ac-logo__lg.ac-logo__sm,
          .ac-nav .ac-logo .ac-logo__sm.ac-logo__sm {
            display: inline-block;
            visibility: visible; } }
      @media (max-width: 960px) {
        /* line 76, components/_header.scss */
        .ac-nav .ac-logo .ac-logo__lg.ac-logo__lg,
        .ac-nav .ac-logo .ac-logo__sm.ac-logo__lg {
          display: none; } }
  /* line 84, components/_header.scss */
  .ac-nav .ac-nav-brand-title {
    position: relative;
    font-size: 1em;
    font-weight: 400;
    vertical-align: middle;
    padding-left: 8px;
    top: -2px; }
  /* line 93, components/_header.scss */
  .ac-nav .ac-nav-menu svg {
    position: relative; }
  /* line 97, components/_header.scss */
  .ac-nav .ac-nav-searchbox {
    float: left;
    width: auto;
    height: 50px; }
    /* line 105, components/_header.scss */
    .ac-nav .ac-nav-searchbox .searchbox__submit svg {
      width: 12px;
      height: 12px;
      vertical-align: middle;
      fill: #fff;
      top: -1px; }
    /* line 113, components/_header.scss */
    .ac-nav .ac-nav-searchbox .searchbox__input {
      position: relative;
      vertical-align: top;
      line-height: 1.2;
      font-weight: 500;
      background: #0a1724; }
    @media (max-width: 960px) {
      /* line 121, components/_header.scss */
      .ac-nav .ac-nav-searchbox .searchbox__input,
      .ac-nav .ac-nav-searchbox .searchbox__submit {
        display: none; } }
  /* line 130, components/_header.scss */
  .ac-nav .ac-nav-menu-list {
    padding: 0;
    margin: 0;
    float: left;
    list-style: none;
    max-height: 50px; }
    @media (max-width: 960px) {
      /* line 130, components/_header.scss */
      .ac-nav .ac-nav-menu-list {
        display: none; } }
    /* line 141, components/_header.scss */
    .ac-nav .ac-nav-menu-list .ac-nav-menu-list-item,
    .ac-nav .ac-nav-menu-list .ac-nav-menu-list-icon {
      float: left;
      padding: 0 14px;
      font-size: 14px;
      max-height: 50px; }
      /* line 149, components/_header.scss */
      .ac-nav .ac-nav-menu-list .ac-nav-menu-list-item.active a,
      .ac-nav .ac-nav-menu-list .ac-nav-menu-list-icon.active a {
        padding-bottom: 15px;
        border-bottom: 2px solid #fb366e; }
      /* line 155, components/_header.scss */
      .ac-nav .ac-nav-menu-list .ac-nav-menu-list-item .ac-icon,
      .ac-nav .ac-nav-menu-list .ac-nav-menu-list-icon .ac-icon {
        height: 50px; }
  /* line 162, components/_header.scss */
  .ac-nav select {
    display: none;
    visibility: hidden;
    position: absolute;
    top: 16px;
    right: 8px; }
    /* line 169, components/_header.scss */
    .ac-nav select:not(.device) {
      background: linear-gradient(#efefef, #ccc);
      color: #0a1724; }
    @media (max-width: 960px) {
      /* line 162, components/_header.scss */
      .ac-nav select {
        display: inline-block;
        visibility: visible; } }
  /* line 182, components/_header.scss */
  .ac-nav .ac-nav-brand-breadcrumb {
    display: inline-block;
    width: 24px;
    height: 50px;
    background: url("../img/icon-arrow-pipe.svg") no-repeat center center/12px 20px;
    vertical-align: middle;
    margin-top: -4px; }
  /* line 191, components/_header.scss */
  .ac-nav .ac-icon {
    display: inline-block;
    position: relative;
    width: 26px;
    height: 36px;
    margin: auto;
    vertical-align: sub; }
    /* line 199, components/_header.scss */
    .ac-nav .ac-icon.ac-icon-github {
      background: url("../img/icon-github.svg") no-repeat center center/contain; }

.btn {
    background: #e7486b;
    color: #fff;
    border: 1px solid #fb366e;
    height: 40px;
    max-width: 140px;
    line-height: 40px;
    padding: 0 1em;
    text-align: center;
    display: block;
    text-decoration: none;
    border-radius: 3px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 12px;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2), 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    transition: background 0.1s ease;
    cursor: pointer; }
    .btn:hover, .btn:active {
      background: #fb366e; }
    .btn.btn-cta {
      max-width: 230px;
      margin: 32px auto; }
    .btn.btn-grey {
      background: #d4d9de;
      border-color: #becce0;
      border-width: 2px;
      color: #7183a7;
      box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1), 0 2px 4px 0 rgba(0, 0, 0, 0.1); }
    .btn.btn-black {
      background: #0a1724;
      border-color: #232e3a; }
    .btn-ghost {
      background: transparent;
      border-color: currentColor;
      font-weight: bold;
      max-width: inherit;
      padding: 0 32px; }
      .btn-ghost-grey {
        color: #788795; }
        .btn-ghost-grey:hover {
          background: #788795;
          border-color: #788795;
          color: #fff; }
          .btn-ghost-grey:hover .ico-triangle {
            border-left-color: #fff; }
      .btn-ghost-pink {
        color: #fb366e; }
        .btn-ghost-pink:hover {
          background: #fb366e;
          border-color: #fb366e;
          color: #fff; }

/* line 1, components/_footer.scss */
.ac-footer {
  min-height: 830px;
  position: relative;
  text-align: center;
  color: rgba(255, 255, 255, 0.75);
  background-color: #1d3657;
  background-image: url("../img/background_footer.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 1420px;
  font-family: "Raleway", Helvetica Neue, helvetica;
  font-weight: 600;
  box-sizing: border-box; }
  /* line 15, components/_footer.scss */
  .ac-footer p {
    font-size: 12px;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.75); }
  /* line 21, components/_footer.scss */
  .ac-footer .ac-footer-brand {
    max-width: 740px;
    max-height: 400px;
    width: 70vw;
    height: 100%;
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%); }
    /* line 32, components/_footer.scss */
    .ac-footer .ac-footer-brand:hover .ac-icon-love-dark {
      background: url("../img/icon-heart-light.svg") no-repeat center center/contain; }
    /* line 37, components/_footer.scss */
    .ac-footer .ac-footer-brand .ac-footer-brand-icon {
      width: 110px;
      margin-top: 20px; }
    /* line 42, components/_footer.scss */
    .ac-footer .ac-footer-brand figure {
      margin: 20px 0 0; }
      /* line 45, components/_footer.scss */
      .ac-footer .ac-footer-brand figure .ac-footer-brand-logo {
        margin: 0;
        width: inherit; }
      /* line 50, components/_footer.scss */
      .ac-footer .ac-footer-brand figure figcaption {
        text-indent: -9999px;
        color: transparent; }
  /* line 58, components/_footer.scss */
  .ac-footer .ac-footer-brand p,
  .ac-footer .ac-footer-version {
    color: #496f92;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    margin: 0;
    font-weight: 600;
    float: none; }
  /* line 70, components/_footer.scss */
  .ac-footer .ac-footer-links {
    width: 100%;
    padding: 1em 0px;
    float: left; }
    @media (min-width: 960px) {
      /* line 75, components/_footer.scss */
      .ac-footer .ac-footer-links br {
        display: none; } }
  /* line 83, components/_footer.scss */
  .ac-footer .ac-footer-link-item {
    font-size: 12px;
    color: #fb366e;
    font-weight: 400;
    margin-left: 16px;
    text-decoration: none; }
    /* line 90, components/_footer.scss */
    .ac-footer .ac-footer-link-item:not(:first-of-type):before {
      content: '•';
      position: relative;
      margin-right: 16px;
      color: rgba(255, 255, 255, 0.75);
      font-size: 1.2em; }
  /* line 100, components/_footer.scss */
  .ac-footer .ac-footer-container {
    padding-top: 0px;
    padding-bottom: 0px; }
  /* line 106, components/_footer.scss */
  .ac-footer .ac-footer-btn.ac-footer-btn-cta {
    max-width: 160px;
    margin: 32px auto; }
  /* line 112, components/_footer.scss */
  .ac-footer .ac-footer-version {
    position: relative;
    float: left;
    width: 100%;
    top: 620px; }
  /* line 120, components/_footer.scss */
  .ac-footer .ac-footer-actions {
    width: 100%;
    background: #0a1724;
    position: absolute;
    bottom: 0;
    min-height: 50px; }
    /* line 127, components/_footer.scss */
    .ac-footer .ac-footer-actions p {
      display: inline;
      line-height: 50px;
      padding: 0;
      margin: 0;
      font-size: 14px;
      color: #788795;
      text-transform: uppercase; }
    /* line 137, components/_footer.scss */
    .ac-footer .ac-footer-actions a {
      display: inline-block;
      margin-left: 0; }
      /* line 141, components/_footer.scss */
      .ac-footer .ac-footer-actions a:nth-child(2) {
        margin-left: 32px;
        margin-right: 16px; }
  /* line 149, components/_footer.scss */
  .ac-footer .ac-footer-btn,
  .ac-footer [class*="ac-footer-btn-ghost"] {
    background: #0a1724;
    border: 1px solid #232e3a;
    color: #fff;
    height: 40px;
    margin: 32px auto;
    line-height: 40px;
    padding: 0 1em;
    display: block;
    text-decoration: none;
    border-radius: 3px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 12px;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2), 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    transition: background 0.1s ease;
    cursor: pointer; }
    /* line 168, components/_footer.scss */
    .ac-footer .ac-footer-btn:hover, .ac-footer .ac-footer-btn:active,
    .ac-footer [class*="ac-footer-btn-ghost"]:hover,
    .ac-footer [class*="ac-footer-btn-ghost"]:active {
      background: #fb366e; }
  /* line 175, components/_footer.scss */
  .ac-footer [class*="ac-footer-btn-ghost"] {
    background: transparent;
    border-color: currentColor;
    font-weight: bold;
    max-width: inherit;
    padding: 0 32px; }
  /* line 184, components/_footer.scss */
  .ac-footer .ac-footer-btn-ghost-grey {
    color: #788795; }
    /* line 187, components/_footer.scss */
    .ac-footer .ac-footer-btn-ghost-grey:hover {
      background: #788795;
      border-color: #788795;
      color: #fff; }
      /* line 192, components/_footer.scss */
      .ac-footer .ac-footer-btn-ghost-grey:hover .ico-triangle {
        border-left-color: #fff; }
  /* line 199, components/_footer.scss */
  .ac-footer .ac-footer-btn-ghost-pink {
    color: #fb366e; }
    /* line 202, components/_footer.scss */
    .ac-footer .ac-footer-btn-ghost-pink:hover {
      background: #fb366e;
      border-color: #fb366e;
      color: #fff; }
  /* line 210, components/_footer.scss */
  .ac-footer .ac-icon {
    position: absolute;
    left: 0;
    right: 0;
    width: 20px;
    height: 30px;
    margin: auto; }
  /* line 218, components/_footer.scss */
  .ac-footer .ac-icon-love-dark {
    background: url("../img/icon-heart-dark.svg") no-repeat center center/contain; }

/*! On small devices */
@media (max-width: 960px) {
  /* line 226, components/_footer.scss */
  .ac-footer {
    background-size: cover;
    background-position: 50% 70px; }
    /* line 230, components/_footer.scss */
    .ac-footer .ac-footer-links {
      text-align: center; }
      /* line 233, components/_footer.scss */
      .ac-footer .ac-footer-links .ac-footer-links:nth-child(2) {
        margin-bottom: 16px;
        display: block; }
      /* line 238, components/_footer.scss */
      .ac-footer .ac-footer-links .ac-footer-link-item:nth-child(3):before {
        display: none; }
    /* line 243, components/_footer.scss */
    .ac-footer hr {
      display: none; }
    /* line 247, components/_footer.scss */
    .ac-footer .ac-footer-actions {
      width: calc(16px + 100%);
      left: -16px;
      padding-bottom: 16px;
      text-align: center; }
      /* line 253, components/_footer.scss */
      .ac-footer .ac-footer-actions p {
        font-size: 12px;
        float: left;
        width: 100%;
        text-align: center; }
      /* line 260, components/_footer.scss */
      .ac-footer .ac-footer-actions .ac-footer-btn,
      .ac-footer .ac-footer-actions a:nth-child(2) {
        width: calc(100% - 32px);
        max-width: calc(100% - 32px);
        margin: 0 auto;
        margin-bottom: 8px;
        float: none;
        position: relative;
        left: 8px; } }
@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(251, 54, 110, 0.4); }
  70% {
    box-shadow: 0 0 0 30px rgba(251, 54, 110, 0); }
  100% {
    box-shadow: 0 0 0 0 rgba(251, 54, 110, 0); } }
@keyframes pulseHeart {
  0% {
    transform: scale(1.3); }
  70% {
    transform: scale(1.15); }
  100% {
    transform: scale(1); } }
/* line 303, components/_footer.scss */
.ac-icon-love-dark {
  display: block;
  position: relative; }
  /* line 307, components/_footer.scss */
  .ac-icon-love-dark:before {
    content: '';
    display: block;
    width: 8px;
    height: 8px;
    position: absolute;
    top: 45%;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    right: 0;
    z-index: -1;
    border-radius: 100%; }

/* line 323, components/_footer.scss */
.ac-footer-container:hover .ac-icon-love-dark {
  animation: pulseHeart 1s ease infinite; }
  /* line 326, components/_footer.scss */
  .ac-footer-container:hover .ac-icon-love-dark:before {
    animation: pulse 1s ease infinite !important; }

/* line 332, components/_footer.scss */
.ac-icon-triangle {
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid #788795;
  position: relative;
  display: inline-block;
  margin-left: 8px; }

/* line 1, components/_home.scss */
body {
  font-family: "Raleway", Helvetica Neue, helvetica; }

/* line 5, components/_home.scss */
.container {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 36pt;
  margin-top: $header-height;
}

/* line 12, components/_home.scss */
.welcome {
  padding: 2em 0;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  max-width: 940px;
  margin: 6em auto 0; }


// ======================================================================
// Custom parts
// ======================================================================

a {
    color: $brand-primary;
    text-decoration: none;
}


// ======================================================================
// Copied from: Jazzy `jazzy.css.scss`
// ======================================================================

////////////////////////////////
// Constants
////////////////////////////////
$bg_color: #414141;
$doc_coverage_color: #999;
$code_color: #777;
$code_bg_color: #eee;
$link_color: #0088cc;
$white_color: #fff;
$light_gray_bg_color: #f2f2f2;
$declaration_bg_color: #f9f9f9;
$sidebar_bg_color: #f9f9f9;
$declaration_title_language_color: #4b8afb;
$sidebar_width: 230px;
$content_wrapper_width: 980px;
$content_top_offset: 70px;
$content_body_margin: 16px;
$content_body_left_offset: $sidebar_width + $content_body_margin;
$breadcrumb_padding_top: 17px;
$code_font: 0.95em Menlo, monospace;
$gray_border: 1px solid #e2e2e2;
$declaration_language_border: 5px solid #cde9f4;
$aside_color: #aaa;
$aside_border: 5px solid lighten($aside_color, 20%);
$aside_warning_color: $brand-danger;
$aside_warning_border: 5px solid $brand-danger;

.section-name {
    color: #808080;
    font-size: 16pt;
    font-weight: normal;
    margin-top: 1em;
}

// ----------------------------------------------------------------------
// Side bar
// ----------------------------------------------------------------------

.sidebar {
    background-color: $sidebar_bg_color;
    border: $gray_border;
    overflow-y: auto;
    overflow-x: hidden;
    position: fixed;
    top: $header-height;
    bottom: 0;
    width: $sidebar_width;
    word-wrap: normal;
    ul {
        padding: 0;
        padding-left: 12pt;
        margin: 0;
    }
    .nav-groups {
        list-style-type: none;
        background: $white_color;
        padding-left: 0;
    }
    .nav-group-name {
        border-bottom: $gray_border;
        font-size: 12pt;
        font-weight: bold;
        padding: 15px 0 15px 20px;
        > a {
            color: #333;
        }
    }
    .nav-group-tasks {
        margin-top: 5px;
    }
    .nav-group-task {
        font-size: 12pt;
        font-weight: normal;
        list-style-type: none;
        white-space: nowrap;
        a {
            color: #888;
        }
    }
}
// ----------------------------------------------------------------------
// Home page
// ----------------------------------------------------------------------

$color-main-dark: #ED5038;
$color-main-light: #F89C1D;

.headline {
    min-height: 200px;
    background-color: $color-main-dark;
    background-image: linear-gradient(140deg, $color-main-light 10%, $color-main-dark 90%);
    color: white;
    padding: 12pt 24pt;
    h1 {
        font-size: 36pt;
    }
}
.homepage {
    font-size: 14pt;
    h2 {
        font-size: 24pt;
        margin-bottom: 1.5em;
        position: relative;
        text-align: center;
        &::after {
            content: "";
            position: absolute;
            width: 50px;
            height: 3px;
            background-color: $color-main-dark;
            top: 1.5em;
            left: 0;
            right: 0;
            margin: auto;
        }
    }
}

////////////////////////////////
// Main Content
////////////////////////////////
$color-main-text-fg: #4A4A4C;
.main-content {
    padding-left: 12pt;
    padding-right: 12pt;
    min-height: 700px; // to avoid the footer to be too close to the top if the content is very short
}
.main-content {
    background-color: $white_color;
    color: $color-main-text-fg;
    // margin-left: $content_body_left_offset;
    //position: absolute;
    overflow: hidden;
    // padding-bottom: 60px;
    // top: $content_top_offset;
    // width: $content_wrapper_width - $content_body_left_offset;
    a,
    blockquote,
    code,
    em,
    p,
    table,
    ul {
        margin-top: 0.5em;
        margin-bottom: 0.5em;
    }
    p {
        line-height: 1.8em;
    }
    // Inline code.
    code {
        background-color: $secondary-color;
        border: solid 1px #E0E0E0;
        border-radius: 3px;
        color: $primary-color;
        margin: 0 0.1em;
        padding: 0.1em 0.2em 0.05em 0.2em;
    }
    // Cancel the previous rule for block code.
    pre, h1, h2, h3, h4, h5, h6, .task-group {
        code {
            background-color: inherit;
            border: none;
            color: inherit;
            margin: 0;
            padding: 0;
        }
    }
    section {
        .section:first-child {
            margin-top: 0;
            padding-top: 0;
        }
        .task-group-section .task-group:first-of-type {
            padding-top: 10px;
            .section-name {
                padding-top: 15px;
            }
        }
    }
    .section {
        padding: 0 25px;
    }
    pre {
        background-color: $code_bg_color;
        padding: 10px 12px;
        border: $gray_border;
        border-radius: 4px;
        overflow-x: auto;
    }
    .declaration .highlight {
        overflow-x: initial; // This allows the scrollbar to show up inside declarations
        padding: 0 40px 40px 0;
        margin-bottom: -25px;
        background-color: transparent;
        border: none;
    }
    .section-name {
        margin: 0 0 0 18px;
    }
    .task-group-section {
        padding-left: 6px;
        border-top: $gray_border;
    }
    .task-group {
        padding-top: 0;
    }
    .task-name-container {
        margin-top: 18pt;
        a[name] {
            &:before {
                content: "";
                display: block;
            }
        }
    }
    .item {
        padding-top: 6pt;
        width: 100%;
        list-style-type: none;
        a[name] {
            &:before {
                content: "";
                display: block;
                padding-top: $content_top_offset;
                margin: -$content_top_offset 0 0;
            }
        }
        code {
            background-color: transparent;
            padding: 0;
        }
        .token {
            padding-left: 3px;
            margin-left: 15px;
            font-size: 11pt;
        }
        .declaration-note {
            font-size: 0.85em;
            color: rgba(128,128,128,1);
            font-style: italic;
        }
    }
    .pointer-container {
        left: -23px;
        padding-bottom: 13px;
        position: relative;
        width: 110%;
    }
    .pointer {
        background: $declaration_bg_color;
        border-left: $gray_border;
        border-top: $gray_border;
        height: 12px;
        left: 21px;
        top: -7px;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
        position: absolute;
        width: 12px;
    }
    .height-container {
        display: none;
        left: -25px;
        padding: 0 25px;
        position: relative;
        width: 100%;
        overflow: hidden;
        .section {
            background: $declaration_bg_color;
            border-left: $gray_border;
            border-right: $gray_border;
            border-bottom: $gray_border;
            border-top: $gray_border;
            left: -25px;
            position: relative;
            //width: 100%;
            padding-top: 10px;
            padding-bottom: 5px;
        }
    }
    .aside,
    .language {
        padding: 6px 12px;
        margin: 12px 0;
        border-left: $aside_border;
        overflow-y: hidden;
        .aside-title {
            font-size: 9px;
            letter-spacing: 2px;
            text-transform: uppercase;
            padding-bottom: 0;
            margin: 0;
            color: $aside_color;
            -webkit-user-select: none;
        }
        p:last-child {
            margin-bottom: 0;
        }
    }
    .language {
        border-left: $declaration_language_border;
        .aside-title {
            color: $declaration_title_language_color;
        }
    }
    .aside-warning {
        border-left: $aside_warning_border;
        .aside-title {
            color: $aside_warning_color;
        }
    }
    .graybox {
        border-collapse: collapse;
        width: 100%;
        p {
            margin: 0;
            word-break: break-word;
            min-width: 50px;
        }
        td {
            border: $gray_border;
            padding: 5px 25px 5px 10px;
            vertical-align: middle;
        }
        tr td:first-of-type {
            text-align: right;
            padding: 7px;
            vertical-align: top;
            word-break: normal;
            width: 40px;
        }
    }
    .slightly-smaller {
        font-size: 0.9em;
    }
}
/*
#footer {
  position: absolute;
  bottom: 10px;
  margin-left: 25px;
  p {
    margin: 0;
    color: #aaa;
    font-size: 0.8em;
  }
}

////////////////////////////////
// Dash
////////////////////////////////

html.dash {
  header, #breadcrumbs, .sidebar {
    display: none;
  }
  .main-content {
    width: $content_wrapper_width;
    margin-left: 0;
    border: none;
    width: 100%;
    top: 0;
    padding-bottom: 0;
  }
  .height-container {
    display: block;
  }
  .item .token {
    margin-left: 0;
  }
  .content-wrapper {
    width: auto;
  }
  #footer {
    position: static;
  }
}
*/


// ======================================================================
// Syntax highlighting
// ======================================================================

$color-syntax-comment: #999988;
$color-syntax-keyword: black;
$color-syntax-literal-string: $sunset-orange;
$color-syntax-literal-number: #009999;
$color-syntax-type: #445588;
$color-syntax-function: $violet;
$color-syntax-variable: darken($sea-green, 10%);

// Jazzy (Rouge?) flavor
// ---------------------

.highlight {
  .c, .cm, .cp, .c1 { color: $color-syntax-comment; font-style: italic } // Comment, Comment.Multiline, Comment.Preproc Comment.Single
//  .err { color: #a61717; background-color: #e3d2d2 } /* Error */
  .k, .kc, .kd, .kp, .kr { color: $color-syntax-keyword; font-weight: bold } // Keyword, Keyword.Constant, Keyword.Declaration, Keyword.Pseudo, Keyword.Reserved
//  .o { color: #000000; font-weight: bold } /* Operator */
// .cs { color: #999999; font-weight: bold; font-style: italic } /* Comment.Special */
  // .gd { color: #000000; background-color: #ffdddd } /* Generic.Deleted */
  // .gd .x { color: #000000; background-color: #ffaaaa } /* Generic.Deleted.Specific */
  // .ge { color: #000000; font-style: italic } /* Generic.Emph */
  // .gr { color: #aa0000 } /* Generic.Error */
  // .gh { color: #999999 } /* Generic.Heading */
  // .gi { color: #000000; background-color: #ddffdd } /* Generic.Inserted */
  // .gi .x { color: #000000; background-color: #aaffaa } /* Generic.Inserted.Specific */
  // .go { color: #888888 } /* Generic.Output */
  // .gp { color: #555555 } /* Generic.Prompt */
  // .gs { font-weight: bold } /* Generic.Strong */
  // .gu { color: #aaaaaa } /* Generic.Subheading */
  // .gt { color: #aa0000 } /* Generic.Traceback */
  .kt { color: $chambray; } // Keyword.Type
  .s, .sb, .sc, .sd, .s2, .se, .sh, .si, .sx, .sr, .s1, .ss { color: $color-syntax-literal-string; } // Literal.String, Literal.String.Backtick, Literal.String.Char, Literal.String.Doc, Literal.String.Double, Literal.String.Escape, Literal.String.Heredoc, Literal.String.Interpol, Literal.String.Other, Literal.String.Regex, Literal.String.Single, Literal.String.Symbol
  // .na { color: #008080 } /* Name.Attribute */
  // .nb { color: #0086B3 } /* Name.Builtin */
  .nc { color: $color-syntax-type; font-weight: bold } // Name.Class
  // .no { color: #008080 } /* Name.Constant */
  // .ni { color: #800080 } /* Name.Entity */
  // .ne { color: #990000; font-weight: bold } /* Name.Exception */
  .nf { color: $color-syntax-function; } /* Name.Function */
  // .nn { color: #555555 } /* Name.Namespace */
  // .nt { color: #000080 } /* Name.Tag */
  .nv { color: $color-syntax-variable; } // Name.Variable
  // .ow { color: #000000; font-weight: bold } /* Operator.Word */
  // .w { color: #bbbbbb } /* Text.Whitespace */
  .m, .mf, .mh, .mi, .mo, .il { color: $color-syntax-literal-number; } // Literal.Number, Literal.Number.Float, Literal.Number.Hex, Literal.Number.Integer, Literal.Number.Oct, Literal.Number.Integer.Long
  // .bp { color: #999999 } /* Name.Builtin.Pseudo */
  // .vc { color: #008080 } /* Name.Variable.Class */
  // .vg { color: #008080 } /* Name.Variable.Global */
  // .vi { color: #008080 } /* Name.Variable.Instance */
}

// Highlight.js flavor
// -------------------

.hljs {
    .hljs-comment {
        color: $color-syntax-comment;
        font-style: italic;
    }
    .hljs-keyword {
        color: $color-syntax-keyword;
        font-weight: bold;
    }
    .hljs-type {
        color: $color-syntax-type;
    }
    .hljs-string {
        color: $color-syntax-literal-string;
    }
}
